<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/resources/images/logo.ico" type="image/x-icon">
    <title>Добро пожаловать</title>
    <link rel="stylesheet" href="/resources/styles/main.css">
    <link rel="stylesheet" href="/resources/styles/index.css">
</head>
<body>
    <div th:insert="~{header :: header}"></div>
    <main class="main">
        <section class="hero">
            <h1>Добро пожаловать<br>в магазин цветов WonderFlower</h1>
            <button class="btn4" onclick="redirectToLink()">
                <a href="catalog">Сделать заказ</a>
            </button>

        </section>
    </main>
    <script>
        function redirectToLink() {
            var link = document.querySelector('button a');
            if (link) {
                window.location.href = link.href;
            }
        }
    </script>
    <div th:insert="~{footer :: footer}"></div>
</body>
</html>